* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #172033;
}

.auth-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.auth-card {
    width: 100%;
    max-width: 430px;

    background: white;

    padding: 40px;

    border-radius: 18px;

    box-shadow:
        0 10px 35px rgba(0, 0, 0, 0.08);
}

.auth-card h1 {
    text-align: center;

    color: #3157d5;

    margin-bottom: 25px;
}

.auth-card h2 {
    margin-bottom: 8px;
}

.auth-subtitle {
    color: #687086;

    margin-bottom: 25px;

    line-height: 1.5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 600;

    margin-top: 8px;
}

input,
select {
    width: 100%;

    padding: 13px;

    border: 1px solid #d9deea;

    border-radius: 9px;

    font-size: 15px;

    outline: none;
}

input:focus,
select:focus {
    border-color: #3157d5;
}

button {
    margin-top: 18px;

    padding: 14px;

    border: none;

    border-radius: 9px;

    background: #3157d5;

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;
}

button:hover {
    background: #2647b5;
}

.auth-switch {
    text-align: center;

    margin-top: 25px;

    color: #687086;
}

.auth-switch a {
    color: #3157d5;

    text-decoration: none;

    font-weight: 600;
}